html {
    width: 100%;
}

.rotate {
    animation : rotation 2s infinite linear
}

.hover-bg:hover {
    background-color: lightgray;
}



@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media screen and (max-width: 768px) {
    .product-info-container {
        display: flex;
        flex-direction: column;
    }

    .product-info-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .showcase-card {
        margin-bottom: 20px;
    }
}

@media screen and (max-width : 425px) {
    .showcase {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 5px;
        padding: 0;
        margin: 0;
    }
}